* {
    box-sizing: border-box;
    }

html {
    text-align: center;
}

img {
    max-width: 75%;
}

/* Header styling */
header {
   text-align: center;
}

/* Navbar styling  */

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    text-align: center;
    padding: 20px;
}
/* Style the topnav links */
.topnav a {
    text-align: center;
    padding: 14px 16px;
}

/* Responsive width for the Contact page Google Maps, and Hours page Google Calendar, embeds */
@media screen and (max-width:750px) {
    iframe {width: 100%;}
}

/* Styling for the menu items on the Menu page */
.dish {
    float:left;
    background-color: rgb(177, 247, 209);
    width: 50%;
    border-style: ridge;
}

@media screen and (max-width:750px) {
    .dish {width:100%;}
}

.mensect:after {
    content: "";
    display: table;
    clear: both;
}